.scrollable { overflow-y: auto; }
.scrollable::-webkit-scrollbar {
    width: 8px;
    height: 16px; 
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07); 
}
.scrollable::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none; 
}
.scrollable::-webkit-scrollbar-corner {
    background-color: transparent; 
}